body{
  padding: 0;
  margin: 0;
  font-family: 'Maven Pro', serif;
}
.f-12{
  font-size: 12px !important;
}
.bg-orange{
  background:#1F487E;
}
.bg-white{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 2s ease-in-out;
}
.navbar-dark .navbar-nav .nav-link {
  color:#fae3e3;
}

.navbar-dark .navbar-brand {
  color: #fae3e3 !important;
  font-family: 'Lobster Two', cursive;
}
#home-section{
  position: relative;
  background: url(../images/home-section.jpeg) no-repeat;
  background-color: #000;
  min-height: 500px;
  background-size: cover;
  /* background-attachment: fixed; */
}
.lob{
  font-family: 'Lobster Two', cursive;
}
.home-inner{
  position:relative;
 padding-top:150px;
  color:#fff;
  text-align: center;
  height:inherit;
  width:inherit;
  background: transparent;
  z-index:5;
}

#fav-section{
  padding-top: 40px;
}
.flexy{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.cardly{
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.card-over {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.card-over img {
  width: 100%;
  height: auto;
}

.card-over:hover .overlay {
  transform: scale(1);
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 2;
  transform: scale(0);
  transition: all ease 1s;
}
.add-recipe{
	margin-top: 60px;
	padding: 5px 15px;
    background: #fff;
    color: #000;
    border: 0px;
    border-radius: 20px;
}
.card__recipe{
  color:orangered;
}
.card__seen > span {
  font-size: 11px;
}
.card__love > i{
  color:orangered;
}
.card__upvote > .fa-thumbs-up{
  color:orangered;
}
.card__upvote > span {
  font-size: 12px;
  color:coral;
}
.card__downvote > .fa-thumbs-down{
  color:orangered;
}
.card__downvote > span {
  font-size: 12px;
  color:coral;
}
.card__rating > i{
  font-size: 12px;
}
.card__rating > .fa-star{
  color:orangered;
}

.card__rating > span{
  font-size: 12px;
  color:coral;
}
.card__date > i{
  color:coral;
}
.card__date > span {
  font-size: 12px;
  color:coral;
}
.search-btn{
  width:100%;
  background: #FF512F;
  color:#fff;
  padding: 10px 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.form__control:focus{
  border-color:orangered;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(255,69,0,1);
}
.form__control{
  width:100;
  padding: 10px 30px;
  border-radius: 0px !important;
}


#recipe-detail{
  padding: 20px 0;
}
.recipe__card{
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.review__section{
  padding: 7px 0;
}
.review__btn{
  background: #FF512F;
  color:#fff;
}
.review-color{
  color:#FF512F;
}
.reviewer{
  color:#FF512F;
  font-size: 13px;
  font-style: oblique;
}
.review__btn:hover{
  background:orangered;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
/*footer section*/
#footer{
  margin-top: 40px;
  position: relative;
  background-color:#1F487E;
  padding: 20px 0px;
}
.contact__address > p{
  color:#fff;
}
